version: '3.8'
services:
    locust:
      container_name: locust-py
      build: .
      ports: 
        - "8089:8089"
      command: 
            locust -f locust.py 


    locust-metrics-exporter:
        image: containersol/locust_exporter
        environment:
            - LOCUST_EXPORTER_URI=http://locust:8089
        ports:
            - "9646:9646"
        depends_on:
            - locust
        restart: always

    prometheus:
        image: prom/prometheus:latest

        ports:
            - "9090:9090"
        volumes:
            - ./prometheus.yml:/etc/prometheus/prometheus.yml
        command:
            - --config.file=/etc/prometheus/prometheus.yml
            - --storage.tsdb.path=/prometheus
            - --web.console.libraries=/etc/prometheus/console_libraries
            - --web.console.templates=/etc/prometheus/consoles
            - --web.enable-lifecycle
        depends_on:
            - locust-metrics-exporter

    grafana:
        image: grafana/grafana:nightly
        ports:
            - "3000:3000"
        environment:
            - GF_SECURITY_ADMIN_USER=admin
            - GF_SECURITY_ADMIN_PASSWORD=admin
            - GF_SMTP_ENABLED=true
            - GF_SMTP_HOST=smtp.gmail.com:587
            - GF_SMTP_USER= #add your email address here
            - GF_SMTP_PASSWORD= #add your app password here{from gmail ,not ur email password}
            - GF_SMTP_SKIP_VERIFY=false
            - GF_SMTP_FROM_ADDRESS= #add your email address here
            - GF_SMTP_FROM_NAME=Grafana Alerts
            - GF_SMTP_STARTTLS_POLICY=Mandatory
            - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
        volumes:
            - ./grafana/provisioning:/etc/grafana/provisioning
            - ./grafana/dashboards:/etc/grafana/dashboards
        depends_on:
            - prometheus