global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "locust"
    static_configs:
      - targets: 
          - "locust-metrics-exporter:9646"